@page "/sports/create"
@using Microsoft.EntityFrameworkCore
@using SportsVenueBooking.Domain
@inject IDbContextFactory<SportsVenueBooking.Data.SportsVenueBookingContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h2>Sport</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="Sport" OnValidSubmit="AddSport" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert"/>
            <div class="mb-3">
                <label for="sportname" class="form-label">SportName:</label> 
                <InputText id="sportname" @bind-Value="Sport.SportName" class="form-control" /> 
                <ValidationMessage For="() => Sport.SportName" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="sportdesc" class="form-label">SportDesc:</label> 
                <InputText id="sportdesc" @bind-Value="Sport.SportDesc" class="form-control" /> 
                <ValidationMessage For="() => Sport.SportDesc" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="venueid" class="form-label">VenueId:</label> 
                <InputText id="venueid" @bind-Value="Sport.VenueId" class="form-control" /> 
                <ValidationMessage For="() => Sport.VenueId" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="datecreated" class="form-label">DateCreated:</label> 
                <InputDate id="datecreated" @bind-Value="Sport.DateCreated" class="form-control" /> 
                <ValidationMessage For="() => Sport.DateCreated" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="dateupdated" class="form-label">DateUpdated:</label> 
                <InputDate id="dateupdated" @bind-Value="Sport.DateUpdated" class="form-control" /> 
                <ValidationMessage For="() => Sport.DateUpdated" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="createdby" class="form-label">Createdby:</label> 
                <InputText id="createdby" @bind-Value="Sport.Createdby" class="form-control" /> 
                <ValidationMessage For="() => Sport.Createdby" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="updatedby" class="form-label">Updatedby:</label> 
                <InputText id="updatedby" @bind-Value="Sport.Updatedby" class="form-control" /> 
                <ValidationMessage For="() => Sport.Updatedby" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/sports">Back to List</a>
</div>

@code {
    [SupplyParameterFromForm]
    private Sport Sport { get; set; } = new();

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddSport()
    {
        using var context = DbFactory.CreateDbContext();
        context.Sport.Add(Sport);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/sports");
    }
}
