@page "/sports/edit"
@using Microsoft.EntityFrameworkCore
@using SportsVenueBooking.Domain
@inject IDbContextFactory<SportsVenueBooking.Data.SportsVenueBookingContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h2>Sport</h2>
<hr />
@if (Sport is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="Sport" OnValidSubmit="UpdateSport" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="Sport.Id" value="@Sport.Id" />
                <div class="mb-3">
                    <label for="sportname" class="form-label">SportName:</label>
                    <InputText id="sportname" @bind-Value="Sport.SportName" class="form-control" />
                    <ValidationMessage For="() => Sport.SportName" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="sportdesc" class="form-label">SportDesc:</label>
                    <InputText id="sportdesc" @bind-Value="Sport.SportDesc" class="form-control" />
                    <ValidationMessage For="() => Sport.SportDesc" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="venueid" class="form-label">VenueId:</label>
                    <InputText id="venueid" @bind-Value="Sport.VenueId" class="form-control" />
                    <ValidationMessage For="() => Sport.VenueId" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="datecreated" class="form-label">DateCreated:</label>
                    <InputDate id="datecreated" @bind-Value="Sport.DateCreated" class="form-control" />
                    <ValidationMessage For="() => Sport.DateCreated" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="dateupdated" class="form-label">DateUpdated:</label>
                    <InputDate id="dateupdated" @bind-Value="Sport.DateUpdated" class="form-control" />
                    <ValidationMessage For="() => Sport.DateUpdated" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="createdby" class="form-label">Createdby:</label>
                    <InputText id="createdby" @bind-Value="Sport.Createdby" class="form-control" />
                    <ValidationMessage For="() => Sport.Createdby" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="updatedby" class="form-label">Updatedby:</label>
                    <InputText id="updatedby" @bind-Value="Sport.Updatedby" class="form-control" />
                    <ValidationMessage For="() => Sport.Updatedby" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/sports">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private int Id { get; set; }

    [SupplyParameterFromForm]
    private Sport? Sport { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        Sport ??= await context.Sport.FirstOrDefaultAsync(m => m.Id == Id);

        if (Sport is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdateSport()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(Sport!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!SportExists(Sport!.Id))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/sports");
    }

    private bool SportExists(int id)
    {
        using var context = DbFactory.CreateDbContext();
        return context.Sport.Any(e => e.Id == id);
    }
}
